:root {
    --blue: #008cff;
    --white: hsl(0, 0%, 100%);
    --black: #2e2e2e;
    --gray: #c4c5c7;
    --round: 20px;
}




/* LEFT NAV */
        #leftNav {
            margin-top: 20px;
            background-color: var(--white);
            width: 230px;
            height: 94vh;
            border: none;
            border-top-right-radius: var(--round);
            border-bottom-right-radius: var(--round);
            margin-left: 0px;
            position: fixed;
            top: 0;
            left: 0;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.041);
        }

        #logo {
            position: absolute;
            top: 30px;
            left: 20px;
            margin-top: 20px;
            width: 180px;
            height: 25px;
            background-image: url(../../../../assets/logoSecond.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
        }

        #navList {
            list-style-type: none;
            margin: 20px 0 20px 0;
            padding-left: 0;
        }

        .navList1 {
            color: var(--blue);
            border-left: solid;
            border-width: 3px;
        }

        .navList2 {
            color: var(--gray);
        }




/* RIGHT */
        #rightNav {
            position: absolute;
            top: 20px;
            right: 10px;
            background-color: var(--white);
            
            
            width: calc(100vw - 250px); /* Responsive calculation for remaining space */
            height: 94vh;
            max-height: 93vh;
            border: none;
            border-radius: var(--round);
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.041);
        }

        #topFunctions{
            position: absolute;
            right: 180px;
            top:30px;
        }

        .bell_profile{
            margin-left: 30px;
        }
        .occupation{
            margin-left: 30px;
            position: absolute;
            top:10px;
            font-size: 20px;
        }

                /* FOR RESPONSIVE */
                    #topFunctions2{
                        display: none;
                        position: absolute;
                        right: 30px;
                        top:30px;
                    }
                    .bell_profile2{
                        margin-left: 10px;
                    }



.head{
    margin-left: 50px;
}

.head1{
    margin-top: 170px;
    font-size: 26px;
    letter-spacing: -0.5px;
}

.head2{
    font-weight:500;
    margin-top: 10px;
    font-size: 45px;
    letter-spacing: 1px;
}
.head2_2 {
    color: var(--blue);
    background-color:#008cff2c;
    border: none;
    border-radius: 10px;
    display: inline-block; /* Make it behave like a block element */
    height: auto; /* Height is now adjustable */
    padding: 3px 9px; /* Add some padding to increase the size */
}


.head3{
    margin-top: 40px;
    width: 500px;
    height: fit-content;
    font-size: 18px;
    letter-spacing: 0.5px;
}

#button{
    font-size: 18px;
    font-family: Arial;
    margin-left: 50px;
    margin-top: 40px;
    width: 200px;
    height: 50px;  
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    letter-spacing: -0.5px;
}

#imgRight {
    position: absolute;
    top: 20px; /* Position from the top (inherit is unnecessary) */
    right: inherit; /* Space from the right */
    background-image: url(../../../../assets/imageRightDashboard.png);
    background-size: contain; /* Makes sure the whole image is visible */
    margin-top: 20px;
    margin-right: 70px;
    background-position: center;
    background-repeat: no-repeat; /* Prevents repeating the image */
    width: 35%;
    height: auto; /* Maintains aspect ratio */
}



/* MEDIA QUERIES */


@media  screen and (max-width:1246px){
    .head{
        margin-left: 50px;
    }
    
    .head1{
        margin-top: 170px;
        font-size: 23px;
        letter-spacing: -0.5px;
    }
    
    .head2{
        font-weight:500;
        margin-top: 10px;
        font-size: 42px;
        letter-spacing: 1px;
    }
    .head2_2 {
        color: var(--blue);
        background-color:#008cff2c;
        border: none;
        border-radius: 10px;
        display: inline-block; /* Make it behave like a block element */
        height: auto; /* Height is now adjustable */
        padding: 3px 9px; /* Add some padding to increase the size */
    }
    
    
    .head3{
        margin-top: 40px;
        width: 450px;
        height: fit-content;
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    
    #button{
        font-size: 18px;
        font-family: Arial;
        margin-left: 50px;
        margin-top: 40px;
        width: 200px;
        height: 50px;  
        color: var(--white);
        background-color: var(--blue);
        border: none;
        border-radius: 10px;
        letter-spacing: -0.5px;
    }
    
    #imgRight {
        position: absolute;
        top: 20px; /* Position from the top (inherit is unnecessary) */
        right: inherit; /* Space from the right */
        background-image: url(../../../../assets/imageRightDashboard.png);
        background-size: contain; /* Makes sure the whole image is visible */
        margin-top: 20px;
        margin-right: 70px;
        background-position: center;
        background-repeat: no-repeat; /* Prevents repeating the image */
        width: 35%;
        height: auto; /* Maintains aspect ratio */
    }
    
}
@media  screen and (max-width:1183px){
    .head{
        margin-left: 50px;
    }
    
    .head1{
        margin-top: 170px;
        font-size: 20px;
        letter-spacing: -0.5px;
    }
    
    .head2{
        font-weight:500;
        margin-top: 10px;
        font-size: 39px;
        letter-spacing: 1px;
    }
    .head2_2 {
        color: var(--blue);
        background-color:#008cff2c;
        border: none;
        border-radius: 10px;
        display: inline-block; /* Make it behave like a block element */
        height: auto; /* Height is now adjustable */
        padding: 3px 2px; /* Add some padding to increase the size */
    }
    
    
    .head3{
        margin-top: 40px;
        width: 450px;
        height: fit-content;
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    
    #button{
        font-size: 18px;
        font-family: Arial;
        margin-left: 50px;
        margin-top: 40px;
        width: 200px;
        height: 50px;  
        color: var(--white);
        background-color: var(--blue);
        border: none;
        border-radius: 10px;
        letter-spacing: -0.5px;
    }
    
    #imgRight {
        position: absolute;
        top: 20px; /* Position from the top (inherit is unnecessary) */
        right: inherit; /* Space from the right */
        background-image: url(../../../../assets/imageRightDashboard.png);
        background-size: contain; /* Makes sure the whole image is visible */
        margin-top: -40px;
        margin-right: 50px;
        background-position: center;
        background-repeat: no-repeat; /* Prevents repeating the image */
        width: 30%;
        height: auto; /* Maintains aspect ratio */
    }
    
}
@media  screen and (max-width:1026px){

    .head1{
        margin-top: 160px;
        font-size: 18px;
        letter-spacing: -0.5px;
    }
    
    .head2{
        font-weight:500;
        margin-top: 10px;
        font-size: 30px;
        letter-spacing: 1px;
    }
    .head2_2 {
        color: var(--blue);
        background-color:#008cff2c;
        border: none;
        border-radius: 10px;
        display: inline-block; /* Make it behave like a block element */
        height: auto; /* Height is now adjustable */
        padding: 3px 9px; /* Add some padding to increase the size */
    }
    
    
    .head3{
        margin-top: 25px;
        width: 300px;
        height: fit-content;
        font-size: 15px;
        letter-spacing: 0.5px;
    }
    #button{
        font-size: 15px;
        font-family: Arial;
        margin-left: 50px;
        margin-top: 40px;
        width: 150px;
        height: 40px;  
        color: var(--white);
        background-color: var(--blue);
        border: none;
        border-radius: 10px;
        letter-spacing: -0.5px;
    }
    #imgRight {
        position: absolute;
        top: 20px; /* Position from the top (inherit is unnecessary) */
        right: inherit; /* Space from the right */
        background-image: url(../../../../assets/imageRightDashboard.png);
        background-size: contain; /* Makes sure the whole image is visible */
        margin-top: -70px;
        margin-right: 50px;
        background-position: center;
        background-repeat: no-repeat; /* Prevents repeating the image */
        width: 30%;
        height: auto; /* Maintains aspect ratio */
    }
    
}

@media only screen and (max-width: 768px) {
    /* Adjust layout for smaller devices */
    #rightNav {
        width: calc(100vw - 68px); /* Adjust right section */
    }

    #leftNav {
        margin-top: 20px;
        background-color: var(--white);
        width: 50px;
        height: 94vh;
        border: none;
        border-top-right-radius: var(--round);
        border-bottom-right-radius: var(--round);
        margin-left: 0px;
        position: fixed;
        top: 0;
        left: 0;
    }
    #logo{
        display: none;
    }
    #logo2 {
        position: absolute;
        top: inherit;
        left: 20px;
        width: 140px;
        height: 20px;
        background-image: url(../../../../assets/logoSecond.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    
    #navList {
        list-style-type: none;
        margin: 20px 0 20px 0;
        padding-left: 5px;
        border: none;
    }
    
    .nav1{
        display: none;
    }
    .nav2{
        display: none;
    }

              /* FOR RESPONSIVE */
              #topFunctions2{
                display: block;
                position: absolute;
                right: 30px;
                top:30px;
            }
            .bell_profile2{
                margin-left: 10px;
            }

            #topFunctions{
                display: none;
                position: absolute;
                right: 30px;
                top:30px;
            }
    

}
@media only screen and (max-width: 653px) {
    /* Adjust layout for smaller devices */
    #rightNav {
        width: calc(100vw - 68px); /* Adjust right section */
    }
    .head1{
        margin-top: 160px;
        font-size: 17px;
        letter-spacing: -0.5px;
    }
    
    .head2{
        font-weight:500;
        margin-top: 10px;
        font-size: 25px;
        letter-spacing: 1px;
    }
    .head2_2 {
        color: var(--blue);
        background-color:#008cff2c;
        border: none;
        border-radius: 10px;
        display: inline-block; /* Make it behave like a block element */
        height: auto; /* Height is now adjustable */
        padding: 0px 2px; /* Add some padding to increase the size */
    }
    
    
    .head3{
        margin-top: 25px;
        width: 270px;
        height: fit-content;
        font-size: 13px;
        letter-spacing: 0.5px;
    }
    #button{
        font-size: 15px;
        font-family: Arial;
        margin-left: 50px;
        margin-top: 37px;
        width: 120px;
        height: 35px;  
        color: var(--white);
        background-color: var(--blue);
        border: none;
        border-radius: 10px;
        letter-spacing: -0.5px;
    }

    
    

}

@media only screen and (max-width: 480px) {
    /* Further adjustments for mobile screens */
    #leftNav {
        width: 100px;
        height: auto;
    }

    #rightNav {
        width: 100vw;
        height: 95vh;
        right: 0;
    }

    #logo {
        width: 80px;
    }

    #navList {
        margin-top: 10px;
    }

    .navList1, .navList2 {
        font-size: 14px;
    }

    #imgRight {
        position: absolute;
        top: 220px; /* Position from the top (inherit is unnecessary) */
        right: inherit; /* Space from the right */
        background-image: url(../../../../assets/imageRightDashboard.png);
        background-size: contain; /* Makes sure the whole image is visible */
        margin-top: -70px;
        margin-right: 50px;
        background-position: center;
        background-repeat: no-repeat; /* Prevents repeating the image */
        width: 30%;
        height: auto; /* Maintains aspect ratio */
    }
}
