:root{
    --blue:#008cff;
    --white:hsl(0, 0%, 100%);
    --black:#2e2e2e;
}


/* FONT STYLE */
.fontStyleNav {
    font-family: 'Arial', sans-serif; /* Include a fallback font */
    font-weight: lighter;
}

.fontStyle1{
    font-family: Arial;
}
.fontStyle2{
    font-family: Verdana;
}


/* FONT COLOR */
.fontColor1{
    color: var(--blue);
}
.fontColor2{
    color: var(--black);
}

.fontSizeL{
    font-size: small;   
}
.fontSizeL{
    font-size: large;   
}

.fontSizeM{
    font-size: medium;   
}

