.about-layer {
    position: relative;
    background-color: #008cff;
    min-height: 500px;
    width: 100%;
    display: flex;             
    justify-content: center;   
    align-items: center;    
}


.about-section {
    padding: 20px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    max-width: 700px; 
    padding-top: 115px; 
    color: #ffffff;
}

.about-section h2 {
    font-size: 65px;
    margin-bottom: 15px;
    font-weight: 600;
}

.about-section p {
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 350;
}

