* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar {
    background-color: #fdfdfd;
    height: 80px;
    width: 100%;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    position: absolute; 
    top: 50%; 
    left: 10%; 
    transform: translateY(-50%); 
}

.navbar ul {
    float: right;
    margin-right: 150px;
}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-item {
    color: #1f1f1f;
    font-size: 17px;
    padding: 7px 25px;
    transition: color 0.3s; 
}

.main {
    display: inline-block; /* Makes the main item behave like a button */
}

.main a {
    background-color: #717171; /* Background color */
    color: white; /* Text color */
    height: 35px; /* Fixed height */
    line-height: 22px; /* Match line-height to height for vertical centering */
    border-radius: 20px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Smooth transition */
    padding: 7px 25px;
    font-size: 17px;
}

.nav-item:hover {
    color: #008cff;
}

.main a:hover {
    background-color: #008cff;
}

.checkbtn {
    font-size: 20px;
    color: #1f1f1f;
    position: absolute; 
    top: 50%;
    right: 5%;
    transform: translateY(-50%); 
    cursor: pointer;
    display: none;
}

#check {
    display: none; 
}